/.phpunit.cache
/node_modules
/public/hot
/public/vendor
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.vagrant
*.yaml
 scribe-*
/.scribe
/resources/views/scribe/index.blade.php
!scribe/

.DS_Store

# IDE helper
.idea
.vscode
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
.vs
*.cache
.scribe
.fleet
storage/clockwork
storage/debugbar
resources/views/scribe/index.blade.php
composer.lock
